body {
    background-color: lightseagreen;
}
header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: yellowgreen;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
}
.main {
    display: flex;
    flex-direction: column;
    justify-self: center; 
}

.scoreboard {
    display: flex;
    justify-content: center;
    border: 8px solid white;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: rgb(40, 50, 200);

}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid whitesmoke;
    font-size: 24px;
    margin: 5%;
    padding: 2%;
    background-color: black;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}
.home #pScore{
    font-size: 72px;
}
.away {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid whitesmoke;
    font-size: 24px;
    margin: 5%;
    padding: 2%;
    background-color: black;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}
.away #cScore {
    font-size: 72px;
}
#announcer {
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    font-size: large;
   
    
    
}
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
button {
    
    
    margin: 1rem;
}