body {
    background-color: lightseagreen;
}
header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: yellowgreen;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
}
.main {
    display: flex;
    flex-direction: column;
    justify-self: center; 
}

.scoreboard {
    display: flex;
    justify-content: center;
    border: 1rem solid white;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgb(40, 50, 200);

}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid whitesmoke;
    font-size: 24px;
    margin: 5%;
    padding: 2%;
    background-color: black;
}
.home #pScore{
    font-size: 98px;
    flex: 3 1 0;
}
.away {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid whitesmoke;
    font-size: 24px;
    margin: 5%;
    padding: 2%;
    background-color: black;
}
.away #cScore {
    flex: 3 1 0;
    font-size: 98px;
}
#announcer {
    padding-right: 30%;
    padding-left: 30%;
    padding-top: 1rem;
    padding-bottom: 1rem;  
    font-size: large;
   
    
    
}
.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button {
    
    
    margin: 1rem;
}